.footerBg {
  background-color: #EEE2DF; }

.tituloI {
  font-size: 25px;
  text-transform: uppercase; }

.textoI {
  font-size: 18px; 
  font-style:normal;
  font-family:nunito;}

.tituloN {
  text-transform: uppercase;}

footer {
  display: flex; }

.container-fluid {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-font-size: 55px;
  margin-font-style: normal;
  margin-font-family: nunito;
  padding-left: 0px;
  padding-right: 0px; }

.footerBg h3 {
  text-align: center; }

.paddingTB {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 0px;
  padding-right: 0px; }

.paddingT {
  padding-top: 10px;
  padding-bottom: 70px;
  padding-left: 0px;
  padding-right: 0px; }

.paddingLR {
  padding-left: 10px;
  padding-right: 10px;}

.padding {
  padding-top: 10px;
  padding-bottom: 10px;} 

.tituloI {
  text-align: center; }

.icono {
    justify-content: space-around;
    transform: translateY(12px);}


.tituloH {
  text-align:center;}

.textoI {
  text-align: center;}

.tituloCs {
  text-align:center;}

.articuloCs {
  text-align: center;} 

.articuloC {
  text-align:center;}

.tituloI {
  color:#B36A5E ;}

.tituloH {
  color:black;
  background-color: rgba(225, 225, 225, 0.6);}

.tituloCs {
  color:#B36A5E;}

.tituloC {
  color: black;}

.tituloH {
  font-size:20px;
  font-style:normal;
  font-family:nunito;
  text-transform: uppercase;}

.articuloH {
  font-size:16px;
  font-style:normal;
  font-family:nunito;}}

.tituloCs {
  font-size:40px;
  font-style:normal;
  font-family:nunito;}}

.articuloCs {
  font-size:$18px;
  font-style:normal;
  font-family:nunito;}

.tituloC {
  font-size:40px;
  font-style:normal;
  font-family:nunito;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);}

.centro { 
  display: flex;
  justify-content: center;
  transform: translateY(35px);}


.imgCs {
  background-image: url(../assets/img/fondocs.png);}

.imgF {
  background-image: url(../assets/img/fondoH.png);}


.tama単oIcono {
  transition: height: 3s;}

.tama単oIcono:hover{height: 44px; width: 44px;}

.tama単oProductos{
  transition: height: 3s;}

.tama単oProductos:hover{height: 390px;}









