$negro:black;
$grismarca:#EEE2DF;
$beigemarca:#EED7C5;
$lilamarca:#C89F9C;
$ladrillomarca:#C97C5D;
$rosamarca:#B36A5E;
$amarillo:yellow;


.footerBg {background-color: $grismarca;}

.tituloH {
	color:$rosamarca;}

.tituloCs {
	color:$rosamarca;}

.tituloC {
	color:$rosamarca;}


